{% extends "page_base.html" %}
{% import "_macros.html" as macros %}
{% block page_content %}
<center>
<div class="row">
{% for d in data_to_show %}
<div class="col-3" >placeholder {{d + 1}}</div>
{% endfor%}
</div>
{{ macros.pagination_widget(pages, 'index') }}
{% endblock %}