{% extends "bootstrap4_base.html" %}
{% block content %}
<main role="main" class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</main>
{% endblock %}